@import url('http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900');
@import url('http://fonts.googleapis.com/css?family=Lato:400,100,200,300,500,600,800,700,900');
.mainlayout {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #F7F8FA;
  color: #354052;
  width: 76%;
  opacity: 1;
  height: 810px;
}

.main-body {
  margin-top: 70px;
  position: relative;
  margin: 0;
  padding: 0;

}

.display-none {
  opacity: 10%;
}

.body-part {
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  width: 100%;


}

.display-flex {
  display: flex;
  position: relative;

}