@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.mainlayout {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #F7F8FA;
  color: #354052;
  opacity: 1;
  width: 75%;
}

.main-body {
  margin-top: 70px;
  margin: 0;
  display: flex;
  height: 810px;
  padding: 0;

}

.display-none {
  opacity: 10%;
}

.body-part {
  position: relative;
  height: 810px;
  width: 100%;


}

.display-flex {
  display: flex;
  position: relative;

}